[include mainsail.cfg]

[exclude_object]

[include KAMP_Settings.cfg]

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1500
max_z_velocity: 20
max_z_accel: 500

# [virtual_sdcard]
# path: /home/schiff/printer_data/gcodes
# on_error_gcode: CANCEL_PRINT

# This file contains common pin mappings for the Geeetech GT2560
# board. GT2560 board uses a firmware compiled for the AVR
# atmega2560.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PC0
dir_pin: !PG2
enable_pin: !PC2
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PA2
position_endstop: -15.0
position_min: -15.0
position_max: 245
homing_speed: 60

[stepper_y]
step_pin: PC6
dir_pin: !PC4
enable_pin: !PA7
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PA6
position_endstop: 0
position_max: 245
homing_speed: 60

[stepper_z]
step_pin: PA3
dir_pin: PA1
enable_pin: !PA5
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0
position_max: 240
position_min: -0.5
homing_speed: 10

[bltouch]
sensor_pin: PC7
control_pin: PB5
samples: 5
samples_tolerance: 0.4
samples_tolerance_retries: 10
probe_with_touch_mode: False
pin_up_touch_mode_reports_triggered: False
x_offset: -35
y_offset: -5
#z_offset: 1.7
speed: 4
lift_speed: 13
sample_retract_dist: 4

[bed_mesh]
speed: 150
horizontal_move_z: 6
mesh_min: 10, 10
mesh_max: 210, 235
probe_count: 3, 3
fade_start: 1
fade_end: 10
fade_target: 0

[safe_z_home]
home_xy_position: 125, 125 # Change coordinates to the center of your print bed
speed: 200
z_hop: 5                
z_hop_speed: 15

[extruder]
# step_pin: PL6
# dir_pin: PL4
# enable_pin: !PG0
step_pin: PL3
dir_pin: PL5
enable_pin: !PB6
microsteps: 16
# rotation_distance: 23.17
rotation_distance: 7.442
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PB4
sensor_type: Generic 3950
sensor_pin: PK3 # temp 0
# sensor_pin: PK1 # temp 1 KAPUTT
# sensor_pin: PK0 # temp 2 KAPUTT
# sensor_pin: PK3
# sensor_pin: PK3
min_temp: 0
max_temp: 275
pid_kp: 17.318
pid_ki: 0.671
pid_kd: 111.704
max_extrude_cross_section: 25.0

[heater_bed]
heater_pin: PG5
# sensor_type: NTC 100K MGB18-104F39050L32
sensor_type: Generic 3950
sensor_pin: PK2
min_temp: 0
max_temp: 120
control: pid
pid_kp: 72.006
pid_ki: 1.765
pid_kd: 734.459

[display]
lcd_type: st7920
cs_pin: PE3
sclk_pin: PD0
sid_pin: PC1
encoder_pins: ^PH0, ^PH1
click_pin: ^!PD2

[fan]
pin: PH6

# [fan_generic fan_l1]
# pin: PH6 # FAN 0 PIN
# max_power: 0.8

# [fan_generic fan_l2]
# pin: PH5 # FAN 1 PIN
# max_power: 0.8

# [fan_generic fan_l3]
# pin: PH4 # FAN 2 PIN
# max_power: 0.8

# [fan_generic fan_l4]
# pin: PH3 # FAN 2 PIN
# max_power: 0.8

# [fan_generic fan_l5]
# pin: PH2 # FAN 2 PIN
# max_power: 0.8

# [led case]
# white_pin: PH3
# initial_WHITE: 1.0

[skew_correction]

[gcode_arcs]
resolution: 1.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.110000, -0.117500, -0.098500
#*# 	  0.014500, -0.130500, -0.049000
#*# 	  -0.099000, -0.074000, -0.074500
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 97.62
#*# max_x = 152.89
#*# min_y = 114.26
#*# max_y = 135.66
#*#
#*# [bltouch]
#*# z_offset = 1.600
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = -0.0020080505420329736
#*# xz_skew = 0.0
#*# yz_skew = 0.0
